* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    width: 300px;
    margin: 80px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    text-align: center;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

#resultado {
    margin-top: 15px;
    text-align: left;
}